Source: neo4j
Section: alien
Priority: extra
Maintainer: root <root@Senthil>

Package: neo4j
Architecture: all
Depends: ${shlibs:Depends}
Description: Neo4j server is a database that stores data as graphs rather than tables.
 .
 Neo4j is a highly scalable, native graph database purpose-built to
 leverage not only data but also its relationships.
 .
 (Converted from a rpm package by alien version 8.95.6.)
